{% extends "app1/base.html" %}

{% block content %}
{% load i18n %}
<div class="row">
  <div class="columns">
    <h1 class="section-title">{% trans 'Alert' %}</h1>
  </div>
</div>

<div class="row">
  <div class="large-10 columns">
    
	
	<div class="row">
	<div class="large-10 columns">{% trans 'Alert settled' %}
	<code id="robot-state" class="accesslog hljs">{% for res in alert %} {{ res.get_stuffs_display }} {{ res.get_actions_display }} --->  {% if res.mail %}Mail{% endif %} {% if res.sms %}Sms{% endif %} {% if res.call %}call{% endif %} {% if res.alarm %}Alarm{% endif %}  &nbsp <a href=/alert/suppr/{{ res.id }} >delete</a> <br>   {% endfor %}</code>
	</div>
	
	</div>
	<br><br><br>
	<div class="row" style="border: 1px solid #466d98;">
	<form action="/alert/" method="post">{% csrf_token %}
    <div class="large-3 columns">
      <label>{% trans 'Select objects' %}
        {{form.stuffs}}
      </label>
    </div>
	<div class="large-3 columns">
      <label>Action</label>
	  {{form.actions.0}}{{form.actions.1}}{{form.actions.2}}
	  
    </div>
	<div class="large-3 columns">
      <label>Contact</label>
	  <label for="{{form.sms.id_for_label}}">{{form.mail}}{{form.mail.label}}</label>
	  <label for="{{form.sms.id_for_label}}">{{form.sms}}{{form.sms.label}}</label>
	  <label for="{{form.call.id_for_label}}">{{form.call}}{{form.call.label}}</label>
	  <label for="{{form.alarm.id_for_label}}">{{form.alarm}}{{form.alarm.label}}</label>
	  
      
    </div>
	<div class="large-3 columns">
	<br>
	<button type="submit" name="valid_alert" value="ok" class="button large">{% trans 'Add Alert' %}</button>
	</div>
	</form>
  </div>
  
 
 
	
  </div>
</div>

<br><br><br>

<div class="row">
  <div class="columns">
    <h1 class="section-title">{% trans 'Automatic launch' %}</h1>
  </div>
</div>

<div class="row">
  <div class="large-10 columns">


 <div class="row">
	<div class="large-10 columns">{% trans 'List of automat settled :' %}
	<code id="robot-state" class="accesslog hljs">{% for res in auto %} {{ res.1 }}:{{ res.0 }}&nbsp {% trans 'Day of the week :' %}{% trans res.2 %}&nbsp&nbsp<a href=/alert/suppr_auto/{{ forloop.counter0 }} >delete</a> <br>   {% endfor %}</code>
	</div>
	
	</div>
  <br><br><br>
  <div class="row" style="border: 1px solid #466d98;">
  <form action="/alert/" method="post">{% csrf_token %}
    <div class="large-1 columns">
      <label>{% trans 'Hour :' %}
        {{aform.hour}}
      </label>
    </div>
	<div class="large-1 columns">
      {% trans 'Minute :' %}
        {{aform.minute}}
	  
    </div>
	<div class="large-3 columns">
     {% trans 'Day of the week :' %}
        {{aform.day}}
      
    </div>
	<div class="large-2 columns">
     {% trans 'Action :' %}
        {{aform.action}}
      
    </div>
	<div class="large-3 columns">
	<br>
	<button type="submit" name="valid_auto" value="ok" class="button large">{% trans 'Add automat' %}</button>
	</div>
	</form>
  </div>

 </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}

{% block endscript %}

{% endblock endscript %}