{% extends "app1/base.html" %}

{% block content %}

<div class="row">
  <div class="columns">
    <h1 class="section-title">Camera</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    
	
	<div class="row">
	<div class="large-12 columns">
	{% for row in camera %}
	<div class="row">
	{% for res in row %}
	<div class="large-4 columns">
	<code id="robot-state" class="accesslog hljs"><h6><small>{{ res.name }} - {{ res.url}}</small></h6><br>
	<a href='/camera/last/{{ res.id }}'><img src="/img/last/{{ res.id }}" id="img{{ res.id }}" height="150" ></a>  
	</code>&nbsp;
	</div>
	 {% endfor %}
	</div>
	{% endfor %}
	
	</div>
	<div class="row" ><div class="large-9 columns"><br>To add new camera please go to <a href='/admin'>admin</a>
	</div></div>
	
	
	
	
		
	
  </div>
</div>


{% endblock content %}

{% block endscript %}
<script>
{% for res in camera %}
document.getElementById('img{{ res.id }}').src = "/img/last/{{ res.id }}?random="+new Date().getTime();
window.setInterval(function()
{
    document.getElementById('img{{ res.id }}').src = "/img/last/{{ res.id }}?random="+new Date().getTime();
}, 3000);
{% endfor %}

</script>
{% endblock endscript %}